@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");

*
{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body
{
    font-family: "Roboto", system-ui;
    color: #f9f9f9;
    background-image: url("../res/Background.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

.Title
{
    margin-top: 20px;
    color: crimson;
    text-align: center;
    text-decoration: underline;
    cursor: default;
}

#ChooseFile
{
    opacity: 1;
    transition: opacity 1s;
}

#ChooseFile.fade
{
    opacity: 0;
    visibility: hidden;
}

#ChooseFile #OpenFile
{
    display: none;
}

#ChooseFile #Selector
{
    font-size: 25px;
    overflow: hidden;
    color: deeppink;
    border: dashed;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.8s;
}

#ChooseFile #Selector:hover
{
    color: crimson;
    transition: 0.8s;
}

#Mode
{
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s;
}

#Mode.fade
{
    visibility: visible;
    opacity: 1;
    overflow: hidden;
}

#Mode #Encrypt
{
    margin-bottom: 10px;
    font-size: 25px;
    padding: 18px 36px;
    background-color: deeppink;
    border: none;
    border-radius: 5px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    transition: 0.8s;
}

#Mode #Decrypt
{
    font-size: 25px;
    padding: 18px 36px;
    border: none;
    border-radius: 5px;
    background-color: deeppink;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -55%);
    transition: 0.8s;
}

#Mode #Encrypt:hover
{
    background-color: deepskyblue;
    transition: 0.8s;
}

#Mode #Decrypt:hover
{
    background-color: deepskyblue;
    transition: 0.8s;
}

/* Hide the UpDown Arrows in the number input field */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

#SeedDiv
{
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s;
}

#SeedDiv.fade
{
    visibility: visible;
    opacity: 1;
    overflow: hidden;
}

#Seed
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 5px;
    background-color: deeppink;
    font-size: 25px;
    text-align: center;
    outline: none;
    width: 300px;
    height: 40px;
    transition: 0.8s;
}

#Seed:hover
{
    background-color: deepskyblue;
    transition: 0.8s;
}

#ThanksGiving
{
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s;
}

#ThanksGiving.fade
{
    visibility: visible;
    opacity: 1;
    overflow: hidden;
}

#ThankYou
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: default;
    color: deeppink;
    font-size: 30px;
    overflow: hidden;
    transition: 0.8s;
}

#ThankYou:hover
{
    color: crimson;
    transition: 0.8s;
}
